extends layout 

block content   
    .b-example-divider
        .container.col-xxl-8.px-4.py-5
            .row.flex-lg-row-reverse.align-items-center.g-5.py-5
                .col-10.col-sm-8.col-lg-6
                    img.d-block.mx-lg-auto.img-fluid(src='img/H2x1_Amiibo_main_image1600w.jpg' alt='Amiibo' width='700' height='500' loading='lazy')
                .col-lg-6
                    h1.display-5.fw-bold.lh-1.mb-3 Welcome to 
                    h1.display-5.fw-bold.lh-1.mb-3 #{title}
                    p.lead
                    | The Amiibo price comparision site  
                    br
                    | Please login or register to compare prices searches
                .d-grid.gap-2.d-md-flex.justify-content-md-start



    

 
