doctype html 
html 
    head 
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title JTO Compare 
        link(rel='stylesheet' href='css/bootstrap.min.css')
        link(rel='stylesheet' href='css/style.css')
        link(rel='stylesheet' href='css/signin.css')
        link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css")
        //link(rel='stylesheet' href="css/bootstrap-icons.css")
    nav    
        header.fixed.p-1.text-bg-dark
            .container
                nav.navbar.navbar-expand-lg.bg-dark
                    .container-fluid
                        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                            a.navbar-brand(href='/')
                                img(src='/img/JTOCompare_Logo.svg' alt='' width='72' height='72')
            
                            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                                span.navbar-toggler-icon
                            #navbarNav.collapse.navbar-collapse
                                ul.navbar-nav    
                                    li
                                        a.nav-link.px-2.text-white(href='/') About    
                                    if loggedin === true
                                        li
                                            a.nav-link.px-2.text-white(href='/home') Website Search                               
                                        li

                                            a.nav-link.px-2.text-white(href='/checkcex') CEX Check                                          
                                        //-
                                            form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role='search')
                                            input.form-control.form-control-dark.text-bg-dark(type='search' placeholder='Search...' aria-label='Search')
                        .text-end
                            .container.text-center
                                .row.row-cols-auto
                                    .col
                                        if loggedin === false
                                            
                                                form.d-flex(name="login" action="/login" method="POST")    
                                                    button.btn.btn-outline-light(type='submit' ) Login  
                                        else
                                                form.d-flex(name="logout" action="/logout" method="POST")    
                                                    button.btn.btn-outline-light(type='submit' ) Logout 
                                    .col               
                                        if loggedin === false
                                                form.d-flex(name="Signup" action="/register" method="POST")    
                                                    button.btn.btn-warning(type='submit' ) Sign-up
    body
        
        .container
            != messages('message', locals)
            block content 
            br
            hr
            footer
                p Copyright &copy; JTO 2023
            script(src='js/bootstrap.min.js')