extends layout
 
block content
    
    body.text-center
        form(class='form-signin' action='/auth' method='post')
            img.mb-4(src='/img/JTOCompare_Logo.svg' alt='' width='72' height='72')
            h1.h3.mb-3.font-weight-normal Please sign in
            input#InputUsername.form-control(name ='InputUsername' type='username' placeholder='Username' required='' autofocus='')
            input#InputPassword.form-control(name ='InputPassword' type='password' placeholder='Password' required='')
            .checkbox.mb-3
            //    label
                input(type='checkbox' value='remember-me')
                |  Remember me
            button.btn.btn-lg.btn-primary.btn-block(type='submit' value='Login') Sign in




