extends layout 

block content   
    h1 #{title}

    form(class='form-register' action='/register/add' method='post')
        body.text-align
            label First Name
                input#InputFirst_Name.form-control(name ='InputFirstName' type='firstname' placeholder='' required='' autofocus='')
            br 
            label Last Name
                input#InputLast_Name.form-control(name ='InputLastName' type='lastname' placeholder='' required='' autofocus='')
            br 
            label E-Mail
                input#InputEmail.form-control(name ='InputEmail' type='email' placeholder='' required='' autofocus='')
            br 
            label Username
                input#InputUsername.form-control(name ='InputUsername' type='username' placeholder='' required='' autofocus='')
            br
            label Password 
                input#InputPassword.form-control(name ='InputPassword' type='password' placeholder='Password' required='')
            tr
            tr
            label  
                input#InputPassword.form-control(name ='InputConfirmPassword' type='password' placeholder='Confirm Password' required='')
            br
            br
            button.btn.btn-lg.btn-primary.btn-block(type='submit' value='Register') Register

